<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Billing Management system</h1>
    <a href="/purchase">Add purchase</a>
    <a href="/viewpurchase">View purchases</a>
    <a href="/addorder">Add order</a>
    <a href="/vieworders">View orders</a>
    <a href="/addcustomer">Add customer</a>
    <a href="/viewcustomer">View customers</a>
    <a href="/addproduct">Add product</a>
    <a href="/viewproducts">View products</a>
  </body>
</html>
